<!-- Contact -->
<div class="row g-5 mb-5" style="font-size:0.8em;">
  <div>
    <h3 class="main_title pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p></p>
        <p>{{ contact.title }} | {{ contact.department }}</p>
        <p>{{ contact.institution }} | {{ contact.institution_address }}</p>
        <p>📧 Email: {{ contact.email }}</p>
        <p>🏢 Building: {{ contact.building }}</p>
      </div>
      <div class="col-md-6">
        <img id="contact_image" src="{{ site.github.url }}/{{ contact.image }}" alt="Contact">
      </div>
    </div>
    {% endfor %}

<!-- Location Map -->
    <div class="col-lg-12 text-left">
      <h4>Location</h4>
      (English) 4-2XX, 65, Jigok-ro 127beon-gil, Nam-gu, Pohang-Si, Gyeongsangbuk-do, Republic of Korea (Zip code: 37673)<br>
      (Korean) 대한민국 경상북도 포항시 남구 지곡로127번길 65 (지곡동, 포항산업과학연구원) 4동 2XX (우편번호: 37673)<br>
      <iframe id="contact_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.367499771482!2d129.32046590541276!3d36.00976308148139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356701b600e5c01d%3A0xb82ace6f7014f34a!2z7Y-s7ZWt7IKw7JeF6rO87ZWZ7Jew6rWs7JuQ!5e0!3m2!1sko!2skr!4v1642899186630!5m2!1sko!2skr" width="100%" height="300" frameboarder="0" allowfullscreen></iframe>
    </div>
</div>
