<div class="row g-5 mb-5" style="font-size:0.8em;">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p></p>
        <p>{{ contact.title }} | {{ contact.department }}</p>
        <p>{{ contact.institution }} | {{ contact.institution_address }}</p>
        <p>📧 Email: {{ contact.email }}</p>
        <p>🏢 Building: {{ contact.building }}</p>
      </div>
      <div class="col-md-6">
        <img style="border:3px solid black; border-radius:50px" src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}

    <div class="col-lg-12 text-left">
      <h4>Loaction</h3>
      (English) Chungam-Ro 77, C%%, POSTECH, Pohang-Si, Gyeongsangbuk-do, Republic of Korea (Zip code: 37673)<br>
      (Korean) 대한민국 경상북도 포항시 남구 청암로 77 포항공과대학교 C5 (우편번호: 37673)<br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3227.2569002659347!2d129.32227866495546!3d36.01401951925661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3567015cd3918a2d%3A0x2d80dfad536f3a1d!2sC5!5e0!3m2!1sko!2skr!4v1632490370165!5m2!1sko!2skr" width="100%" height="300" frameboarder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
