<footer class="pt-3 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-12 social-media-icons">
    
      <a class="home_name" style="text-decoration:none">Seize the day, Carpe diem!</a>

      <a href="https://velog.io/@claude_ssim" class="ms-3 fs-5" style="float:right"><i class="fas fa-blog"></i></a>
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5" style="float:right"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
      
    </div>
    <p class="copyright text-center">&copy; Jaeyoon Sim 2021-present</p>
  </div>
</footer>
