<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <a class="home_name">Seize the day, Carpe diem!</a>
    <div class="col-md-12 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" class="ms-3 fs-5"><i class="fab fa-{{ item.icon }}"></i></a>
      {% endfor %}
      <a href="https://velog.io/@claude_ssim" class="ms-3 fs-5"><i class="fas fa-blog"></i></a>
      <p class="copyright text-center">&copy; Jaeyoon Sim 2021-2022</p>
    </div>
  </div>
</footer>
