<!-- Publications -->
<script src="/main.js" defer></script>



<div class="row g-5 mb-5">
  <div>
    <h3 class="main_title pb-3 mb-5">Publications</h3>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- International Conference -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-md-2">
        <h6>International</h6>
        <i class="fas fa-sync fa-spin"></i>
      </div>
      <div class="detail_publication col-md-10">
        <div class="row g-5 mb-5">

          <div class="col-lg-4 text-center">
            <img src="/publications/isbi2024/isbi2024.github.io-main/static/images/isbi2024_figure.png" 
            onmouseover="this.src='/publications/isbi2024/isbi2024.github.io-main/static/images/isbi2024_figure2.png'" 
            onmouseout="this.src='/publications/isbi2024/isbi2024.github.io-main/static/images/isbi2024_figure.png'" 
            class="img-fluid rounded float-center img-thumbnail shadow mb-3" 
            onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" alt="Home" width="100%" hieght="100%">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">Modality-agnostic Style Transfer for Holistic Feature Imputation</p></h6>
            <p class="text-muted">Seunghun Baek<sup>*</sup>, <b><u>Jaeyoon Sim</u><sup>*</sup></b>, Mustafa Dere, Guorong Wu, Won Hwa Kim (<sup>*</sup>: equal contribution)</p>
            <p class="text-muted"><span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 5px 0px 5px; border-radius:20%"><b>C</b></span> International Symposium on Biomedical Imaging (ISBI), Athens, Greece, 2024</p>
            <p>
              <a class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-target="#abs2_button" aria-expanded="false" aria-controls="abs2_button">Abstract</a>
              <a href="/publications/isbi2024/isbi2024.github.io-main/index.html" target="_self" class="btn btn-outline-secondary btn-sm" role="button"> Project Page</a>
              <a class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-target="#bib2_button" aria-expanded="false" aria-controls="bib2_button">BibTeX</a>
            </p>
            <div class="collapse" id="abs2_button">
              <div style="border: dashed 2px silver; line-height: 1.0em; background-color:rgb(46, 46, 46); color:white; text-align:justify" class="card card-body">
                Characterizing a preclinical stage of Alzheimer’s Disease (AD), via single imaging is difficult as its 
                early symptoms are quite subtle. Therefore, many neuroimaging studies are curated with various imaging 
                modalities, e.g., MRI and PET, however, it is often challenging to acquire all of them from all subjects 
                and missing data become inevitable. In this regards, in this paper, we propose a framework that generates
                unobserved imaging measures for specific subjects using their existing measures, thereby reducing the need 
                for additional examinations. Our framework transfers modality-specific style while preserving AD-specific 
                content. This is done by domain adversarial training that preserves modality-agnostic but AD-specific 
                information, while a generative adversarial network adds an indistinguishable modality-specific style. 
                Our proposed framework is evaluated on the Alzheimer’s Disease Neuroimaging Initiative (ADNI) study and 
                compared with other imputation methods in terms of generated data quality. Small average Cohen’s d < 0.19 
                between our generated measures and real ones suggests that the synthetic data are practically usable 
                regardless of their modality type.
              </div>
            </div>
            <div class="collapse" id="bib2_button">
              <div style="border: dashed 2px silver; line-height: 1.0em; background-color:rgb(46, 46, 46); color:white; text-align:justify" class="card card-body">
                @article{baek2024modality,<br>
                  author    = {Seunghun Baek and Jaeyoon Sim and Mustafa Dere and Minjeong Kim and Guorong Wu and Won Hwa Kim},<br>
                  title     = {Modality-agnostic Style Transfer for Holistic Feature Imputation},<br>
                  journal   = {ISBI},<br>
                  year      = {2024}<br>
                  }
              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center">
            <img src="/publications/aaai2024/aaai2024.github.io-main/static/images/aaai2024_figure.png" 
            onmouseover="this.src='/publications/aaai2024/aaai2024.github.io-main/static/images/aaai2024_figure2.png'" 
            onmouseout="this.src='/publications/aaai2024/aaai2024.github.io-main/static/images/aaai2024_figure.png'" 
            class="img-fluid rounded float-center img-thumbnail shadow mb-3" 
            onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" alt="Home" width="100%" hieght="100%">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">Learning to Approximate Adaptive Kernel Convolution on Graphs</p></h6>
            <p class="text-muted"><b><u>Jaeyoon Sim</u></b>, Sooyeon Jeon, InJun Choi, Guorong Wu, Won Hwa Kim</p>
            <p class="text-muted"><span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 5px 0px 5px; border-radius:20%"><b>C</b></span> Association for the Advancement of Artificial Intelligence (AAAI), Vancouver, Canada, 2024</p>
            <p class="text-muted"><span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 3px 0px 3px; border-radius:20%"><b>W</b></span> Image Processing and Image Understanding (IPIU), Jeju, Korea, 2024</p>
            <p style="color:rgb(187, 255, 184);">IPIU Outstanding Paper Award - Bronze Prize</p>
            <p style="color:rgb(187, 255, 184);">BK21 Outstanding Paper Award - Excellence Prize</p>
            <p>
              <a class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-target="#abs1_button" aria-expanded="false" aria-controls="abs1_button">Abstract</a>
              <a href="/publications/aaai2024/aaai2024.github.io-main/index.html" target="_self" class="btn btn-outline-secondary btn-sm" role="button"> Project Page</a>
              <a class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-target="#bib1_button" aria-expanded="false" aria-controls="bib1_button">BibTeX</a>
            </p>
            <div class="collapse" id="abs1_button">
              <div style="border: dashed 2px silver; line-height: 1.0em; background-color:rgb(46, 46, 46); color:white; text-align:justify" class="card card-body">
                Various Graph Neural Networks (GNNs) have been successful in analyzing data in non-Euclidean spaces, 
                however, they have limitations such as oversmoothing, i.e., information becomes excessively averaged 
                as the number of hidden layers increases. The issue stems from the intrinsic formulation of conventional 
                graph convolution where the nodal features are aggregated from a direct neighborhood per layer across 
                the entire nodes in the graph. As setting different number of hidden layers per node is infeasible, 
                recent works leverage a diffusion kernel to redefine the graph structure and incorporate information 
                from farther nodes. Unfortunately, such approaches suffer from heavy diagonalization of a graph Laplacian 
                or learning a large transform matrix. In this regards, we propose a diffusion learning framework where 
                the range of feature aggregation is controlled by the scale of a diffusion kernel. For efficient computation, 
                we derive closed-form derivatives of approximations of the graph convolution with respect to the scale, 
                so that node-wise range can be adaptively learned.With a downstream classifier, the entire framework is 
                made trainable in an end-to-end manner. Our model is tested on various standard datasets for node-wise 
                classification for the state-of-the-art performance, and it is also validated on a real-world brain network 
                data for graph classifications to demonstrate its practicality for Alzheimer classification.
              </div>
            </div>
            <div class="collapse" id="bib1_button">
              <div style="border: dashed 2px silver; line-height: 1.0em; background-color:rgb(46, 46, 46); color:white; text-align:justify" class="card card-body">
                @article{sim2024learning,<br>
                  author    = {Jaeyoon Sim and Sooyeon Jeon and Injun Choi and Guorong Wu and Won Hwa Kim},<br>
                  title     = {Learning to Approximate Adaptive Kernel Convolution on Graphs},<br>
                  journal   = {AAAI},<br>
                  year      = {2024}<br>
                  }
              </div>
            </div>
          </div> 
          
          
          
        </div>
      </div>
    </div>

  <!-- International Journal -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-md-2">
        <h6>Domestic</h6>
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <div class="detail_publication col-md-10">
        <div class="row g-5 mb-5">

          <div class="col-lg-4 text-center">
            <img src="/publications/ieie2023/images/ieie2023_figure.png" class="img-fluid rounded float-center img-thumbnail shadow mb-3" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">AI-Driven BGA Solder Joint Failure Detection  of PCB Assembly</h6>
            <p class="text-muted">Seunghun Baek, <b><u>Jaeyoon Sim</u></b>, Siyeon Park, Cheolung Yang, Songyi Jeon, Jongho Song, Won Hwa Kim</p>
            <p class="text-muted"><span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 5px 0px 5px; border-radius:20%"><b>C</b></span> Autumn Annual Conference of the Institute of Electronics and Information Engineers (IEIE), Siheung, Korea, 2023</p>
            <!--
            <p>
            <a href="/publications/xx.pdf" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Paper</a>
            <a href="/publications/cvpr2023/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> BibTeX</a>
            <a href="/publications/cvpr2023/CVPR2023_supplementary/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Supplementary</a>
            </p>
            -->
          </div>

        </div>

      </div>

      <div>
        <p style="text-align:right">
        <span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 5px 0px 5px; border-radius:20%"><b>C</b></span> : Conference &nbsp; &nbsp;
        <span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 7px 0px 7px; border-radius:20%"><b>J</b></span> : Journal &nbsp; &nbsp;
        <span style="background-color:rgb(187, 255, 184); color:rgb(0, 120, 0); padding: 0px 3px 0px 3px; border-radius:20%"><b>W</b></span> : Workshop 
        </p>
      </div>
    </div>
  
  </div>
</div>
