<!-- Publications -->
<script src="/main.js" defer></script>
<div class="row g-5 mb-5">
  <div>
    <h3 class="main_title pb-3 mb-5">Publications</h3>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- International Conference -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-md-2">
        <h6>International</h6>
      </div>
      <div class="detail_publication col-md-10">
        <div class="row g-5 mb-5">
          
          <div class="col-lg-4 text-center">
            <img src="publications/aaai2024/aaai2024_figure.png" class="img-fluid rounded float-center img-thumbnail shadow mb-3" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">Learning to Approximate Adaptive Kernel Convolution on Graphs</h6>
            <p class="text-muted"><b>Jaeyoon Sim</b>, Sooyeon Jeon, Injun Choi, Guorong Wu, Won Hwa Kim</p>
            <p class="text-muted">[Conference] Association for the Advancement of Artificial Intelligence (AAAI), Vancouver, Canada, 2024 - Under Review</p>
            <p style="color:rgb(190, 183, 130);font-size:100%;">[Workshop] Image Processing and Image Understanding (IPIU), Jeju, Korea, 2024 - Under Review</p>
            <p>
            <a href="/publications/xx.pdf" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Paper</a>
            <a href="/publications/cvpr2023/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> BibTeX</a>
            <a href="/publications/cvpr2023/CVPR2023_supplementary/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Supplementary</a>
            </p>
          </div> 
          
          <div class="col-lg-4 text-center">
            <img src="publications/isbi2024/isbi2024_figure.png" class="img-fluid rounded float-center img-thumbnail shadow mb-3" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">Modality-agnostic Style Transfer for Holistic Feature Imputation</h6>
            <p class="text-muted">Seunghun Baek<sup>*</sup>, <b>Jaeyoon Sim<sup>*</sup></b>, Mustafa Dere, Guorong Wu, Won Hwa Kim (<sup>*</sup>equal contribution)</p>
            <p class="text-muted">[Conference] International Symposium on Biomedical Imaging (ISBI), Athens, Greece, 2024 - Under Review</p>
            <p>
            <a href="/publications/xx.pdf" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Paper</a>
            <a href="/publications/cvpr2023/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> BibTeX</a>
            </p>
          </div>
          
          
          
        </div>
      </div>
    </div>

  <!-- International Journal -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-md-2">
        <h6>Domestic</h6>
      </div>
      <div class="detail_publication col-md-10">
        <div class="row g-5 mb-5">

          <div class="col-lg-4 text-center">
            <img src="publications/ieie2023/ieie2023_figure.png" class="img-fluid rounded float-center img-thumbnail shadow mb-3" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
          </div>
          <div class="col-lg-8">
            <h6><p class="publication_title">AI-Driven BGA Solder Joint Failure Detection  of PCB Assembly</h6>
            <p class="text-muted">Seunghun Baek, <b>Jaeyoon Sim</b>, Siyeon Park, Cheolung Yang, Songyi Jeon, Jongho Song, Won Hwa Kim</p>
            <p class="text-muted">[Conference] Autumn Annual Conference of the Institute of Electronics and Information Engineers (IEIE), Siheung, Korea, 2023</p>
            <!--
            <p>
            <a href="/publications/xx.pdf" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Paper</a>
            <a href="/publications/cvpr2023/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> BibTeX</a>
            <a href="/publications/cvpr2023/CVPR2023_supplementary/xx.html" target="_blank" class="btn btn-outline-secondary btn-sm" role="button"> Supplementary</a>
            </p>
            -->
          </div>

        </div>
      </div>
    </div>
  
  </div>
</div>
