$backgroundColor: linear-gradient(to right, rgb(156, 156, 156) 0%, white 30%, rgb(230, 245, 224) 70%, rgb(205, 247, 227) 100%);
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

// 전체 배경
html {
	scroll-behavior: smooth;
}

body {
    background: $backgroundColor;
	color: $bodyColor;
    font-family: $bodyFont;
}

body a {
	color: $linkColor;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(black, silver);
	border-radius: 6px;
}

// 날아다니는 새
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	top: 10%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	&--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}



// 헤더
.navbar_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar_header_logo:hover {
	float: left;
	color: #fff;
	padding: 5px;
	display: table-cell;
	text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8;
	animation: animate_logo 1s linear infinite;
}

@keyframes animate_logo {
	0% {
		transform: translateY(0px);
		text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
		0 2px 5px rgba(0, 0, 0, 0.2);
	}
	50% {
		transform: translateY(-20px);
		text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
		0 25px 5px rgba(0, 0, 0, 0.2);
	}
	100% {
		transform: translateY(0px);
		text-shadow: 0 1px 0 #d8d8d8, 0 2px 0 #d8d8d8, 0 3px 0 #d8d8d8,
		0 2px 5px rgba(0, 0, 0, 0.2);
	}
}

.navbar_header_logo_image {
	color: goldenrod;
}

.main_title_1 {
	color: #000000;
}

.main_title_2 {
	color: #686868;
}

.navbar_header_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_header_menu li{
	padding: 12px;
}

.navbar_header_menu li:hover {
	background-color: #FAFAD2;
	border-radius:10px;
}

.navbar_header_toggleBtn {
	display: none;
	position: absolute;
	right: 32px;
	color: #a0a0a0;
}

@media screen and (max-width: 768px){
	.navbar_header {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}

	.navbar_header_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.navbar_header_menu li {
		width: 100%;
		text-align: center;
	}

	.navbar_header_toggleBtn {
		display: block;
	}

	.navbar_header_menu.active {
		display: flex;
	}
}



// 좌우명
.home_name {
	position: relative;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(90deg, #000, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate_home_name 5s linear infinite;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}
@keyframes animate_home_name {
	0% {
	background-position: -500%;
	}
	100% {
	background-position: 500%;
	}
}



// 버튼
$btn_color: gray;

.btn {
	padding: 0.3em 1.5em;
	text-align: center;
	text-decoration: none;
	color: $btn_color;
	border: 2px solid $btn_color;
	font-size: 12px;
	display: inline-block;
	border-radius: 0.3em;
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		background-color: rgba(255,255,255,0.5);
		height: 100%;
		width: 3em;
		display: block;
		position: absolute;
		top: 0;
		left: -4.5em;
		transform: skewX(-45deg) translateX(0);
		transition: none;
	}

	&:hover {
		background-color: $btn_color;
		color: #fff;
		border-bottom: 4px solid darken($btn_color, 10%);
		&:before {
		transform: skewX(-45deg) translateX(13.5em);
		transition: all 0.5s ease-in-out;
		}
	}
}



// 업데이트 뉴스
.timeline {
	position: relative;
	margin: 50px 0px 0px auto;
	padding: 10px 0;
	width: 100%;
	box-sizing: border-box;
}
.timeline:before {
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
}
.timeline ul {
	margin: 0;
	padding: 0;
}

.timeline ul li {
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 50px;
	box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
	float: left;
	text-align: right;
	clear: both;
}
.timeline ul li:nth-child(odd):before {
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(34, 126, 57, 0.2);
}
.timeline ul li:nth-child(even) {
	float: right;
	text-align: left;
	clear: both;
}
.timeline ul li:nth-child(even):before {
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(34, 126, 57, 0.2);
}

.timeline ul li h5 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 14px;
}
.timeline ul li .timeline_time h4 {
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.timeline ul li:nth-child(odd) .timeline_time {
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgb(0, 0, 0);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(59, 59, 59, 0.3);
}
.timeline ul li:nth-child(even) .timeline_time {
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgb(0, 0, 0);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(59, 59, 59, 0.3);
}

.timeline_content {
	padding-bottom: 10px;
}
@media (max-width: 1000px) {
	.timeline {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.timeline {
		width: 100%;
		padding-bottom: 0;
	}
	.timeline:before {
		left: 20px;
	}
	.timeline ul li:nth-child(odd),
	.timeline ul li:nth-child(even) {
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
	.timeline ul li:nth-child(odd):before,
	.timeline ul li:nth-child(even):before {
		top: -18px;
		left: 16px;
	}
	.timeline ul li:nth-child(odd) .timeline_time,
	.timeline ul li:nth-child(even) .timeline_time {
		top: -30px;
		left: 50px;
		right: inherit;
	}
}