---
layout: default
---

{{ content }}

<!-- Courses -->
<div class="row g-5 mb-5">
  <div>
    <h3 class="main_title pb-3 mb-5">Courses</h3>

<!-- Graudate Course-->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6>Graduate Course</h6>
      </div>
      <div class="detail col-lg-10">
        <div class="row g-5">
          <div class="col-lg-6">
            {% for course in site.data.settings.graduate_courses %}
              <p><kbd>{{ course.number }}</kbd> <a href="{{ site.github.url }}/courses/{{ course.url}}" style="text-decoration:none">{{ course.name }}</a></p>
            {% endfor %}
          </div>
          <div class="col-lg-4">
            <img id="course_image" src="/assets/img/sakura.jpg" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
            <p></p>
            <img id="course_image" src="/assets/img/sakura2.jpg" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
          </div>
        </div>
      </div>
    </div>

<!-- Undergraduate Course -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6>Undergraduate Course</h6>
      </div>
      <div class="detail col-lg-10">
        {% for course in site.data.settings.undergraduate_courses %}
          <p><kbd>{{ course.number }}</kbd> {{ course.name }}</a></p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

<script>
  var password = '0413'
  password = prompt('😎 Please enter the password 😎:','');
  if ( password != '0413' ) {
    location.href = '';
  }
</script>