---
layout: default
---

{{ content }}

<!-- Courses -->
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Courses</h3>

<!-- Graudate Course-->
    <div class="row g-5 mb-5">
      <div class="col-lg-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h5>Graduate Course</h5>
      </div>
      <div class="col-lg-10" style="font-size:0.8em;">
        {% for course in site.data.settings.graduate_courses %}
          <p><kbd>{{ course.number }}</kbd> <a href="{{ site.github.url }}/courses/{{ course.url}}">{{ course.name }}</a></p>
        {% endfor %}
      </div>
    </div>

<!-- Undergraduate Course -->
    <div class="row g-5 mb-5">
      <div class="col-lg-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h5>Undergraduate Course</h5>
      </div>
      <div class="col-lg-10" style="font-size:0.8em;">
        {% for course in site.data.settings.undergraduate_courses %}
          <p><kbd>{{ course.number }}</kbd> <a href="{{ site.github.url }}/courses/{{ course.url}}">{{ course.name }}</a></p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>