---
layout: default
---

{{ content }}

<!-- About Me -->
<div class="row g-5 mb-5" >
  <div>
    <h3 class="main_title pb-3 mb-5">About me</h3>

<!-- Education -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="fas fa-user-graduate"></i> Education</h6>
      </div>
      <div class="detail col-lg-10">
          <!-- {% for section in site.data.cv.education.education %}
            <h6><p class="thing">♚ {{ section.title }}</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/postech.png">
              </div>
              <div class="col-lg-8">
                <p>{{ section.advisor }}</p>
                <p>{{ section.degree }}</p>
                <p>{{ section.gpa }}</p>
                <p>{{ section.location }} {{ section.period }}</p>
              </div>
            </div>
          {% endfor %} -->
          <h6><p class="thing">♚ Pohang University of Science and Technology (POSTECH)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/postech.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍💼 Advisor: <a href="https://miv.postech.ac.kr/members/">Prof. Won Hwa Kim</a></p>
                <p>👨‍🎓 M.S. / Ph.D. Integrated degree, Graduate School of Artificial Intelligence (GSAI)</p>
                <p>📓 Cumulative GPA: 4.3 / 4.3 (55 credits - 24 for major / 31 for research)</p>
                <p>🇰🇷 Pohang, Republic of Korea 📆 Feb. 2022 ~ Present</p>
              </div>
            </div>
          <h6><p class="thing">♚ Pohang University of Science and Technology (POSTECH)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/postech.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍💼 Advisor: <a href="https://idea.postech.ac.kr/professor/">Prof. Changki Baek</a></p>
                <p>👨‍🎓 B.S. degree, Dept. of Convergence IT Engineering (CiTE)</p>
                <p>📓 Cumulative GPA: 3.55 / 4.3 (157 credits)</p>
                <p>🇰🇷 Pohang, Republic of Korea 📆 Feb. 2017 ~ Feb. 2022</p>
              </div>
            </div>
          <h6><p class="thing">♚ National University of Arts (K.Arts)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/karts.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍🎓 Winter Session Courses</p>
                <p>📓 2019 Winter Semester</p>
                <p>🇰🇷 Seoul, Republic of Korea</p>
                <p>📆 Dec. 2019 ~ Jan. 2020</p>
              </div>
            </div>
          <h6><p class="thing">♚ Stony Brook University of New York (SBU)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/sbu.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍🎓 International Academic Program</p>
                <p>📓 2019 Fall Semester</p>
                <p>🇺🇸 NewYork, United States of America</p>
                <p>📆 Aug. 2019 ~ Dec. 2019</p>
              </div>
            </div>
          <h6><p class="thing">♚ University of California Berkeley (UCB)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/ucb.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍🎓 International Academic Program</p>
                <p>📓 2019 Summer Semester</p>
                <p>🇺🇸 California, United States of America</p>
                <p>📆 Jun. 2019 ~ Jul. 2019</p>
              </div>
            </div>
          <h6><p class="thing">♚ Seoul National University (SNU)</p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src="/assets/snu.png" onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>👨‍🎓 Summer Session Courses</p>
                <p>📓 2018 Summer Semester</p>
                <p>🇰🇷 Seoul, Republic of Korea</p>
                <p>📆 Jun. 2018 ~ Aug. 2018</p>
              </div>
            </div>
      </div>
    </div>

<!-- Work Experience -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="far fa-building"></i> Work Experience</h6>
      </div>
      <div class="detail col-lg-10">
          {% for section in site.data.cv.work-experience.work %}
            <h6><p class="thing">♛ {{ section.title }}<kbd class="{{ section.badge }}" style="float:right;">{{ section.category }}</kbd></p></h6>
            <div class="row">
              <div class="col-lg-2">
                <img id="education_mark" src= {{ section.icon }} onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)">
              </div>
              <div class="col-lg-8">
                <p>{{ section.advisor }}</p>
                <p>{{ section.task}}</p>
                <p>{{ section.description }}</p>
                <p>{{ section.location }} {{ section.period }}</p>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>

<!-- TA -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="far fa-user"></i> Teaching Assistant</h6>
      </div>
      <div class="detail col-lg-10">
        <!-- <h6><p class="thing">⌘ (AIGS101&102/CSED105) Artificial Intelligence Basis<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Pohang University of Science and Technology (POSTECH) 📆 Feb. 2024 ~ Jun. 2024</p> -->

        <h6><p class="thing">⌘ (AIGS/CSED538) Deep Learning<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Pohang University of Science and Technology (POSTECH) 📆 Sep. 2023 ~ Dec. 2023</p>
        <!--
        <h6><p class="thing">⌘ (AIGS/CSED526) Data Mining<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Pohang University of Science and Technology (POSTECH) 📆 Sep. 2023 ~ Dec. 2023</p>
        -->
        <h6><p class="thing">⌘ AI Strategy Course for Elite Students - Data Mining<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Korea International Trade Association (KITA) & POSTECH 📆 Jul. 2023 ~ Jul. 2023</p>
        
        <h6><p class="thing">⌘ (CSED490f) Signal Processing<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Pohang University of Science and Technology (POSTECH) 📆 Feb. 2023 ~ Jun. 2023</p>
        
        <h6><p class="thing">⌘ (CSED199) Research Participation - Artificial Intelligence Basis<kbd class="ta_badge" style="float:right;">TA</kbd></p></h6>
        <p>🏢 Pohang University of Science and Technology (POSTECH) 📆 Sep. 2022 ~ Dec. 2022</p>

      </div>
    </div>

<!-- Honors and Awards -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="fas fa-award"></i> Honors &#38 Awards</h6>
      </div>
      <div class="detail col-lg-10">
        <div>

          <h6><p class="thing">♜ BK21 Outstanding Paper Award<kbd class="award_badge" style="float:right;">Award</kbd></p></h6>
          <p>🏢  Pohang University of Science and Technology (POSTECH) 📆  Feb.2024</p>

          <h6><p class="thing">♜ IPIU Outstanding Paper Award (Bronze Prize)<kbd class="award_badge" style="float:right;">Award</kbd></p></h6>
          <p>🏢  Korean Computer Vision Society (KCVS) 📆  Feb.2024</p>

          <h6><p class="thing">♜ National Science & Technology Scholarship I, II<kbd class="scholarship_badge" style="float:right;">Scholarship</kbd></p></h6>
          <p>🏢  Korea Student Aid Foundation (KOSAF) 📆  Feb.2020 ~ Dec.2021</p>

          <h6><p class="thing">♜ Student Advisior(SA) Scholarship<kbd class="scholarship_badge" style="float:right;">Scholarship</kbd></p></h6>
          <p>🏢  Pohang University of Science and Technology (POSTECH) 📆  Feb.2020 ~ Dec.2020</p>

          <h6><p class="thing">♜ Full CiTE Scholarship<kbd class="scholarship_badge" style="float:right;">Scholarship</kbd></p></h6>
          <p>🏢  Ministry of Science and ICT (MSIT) 📆  Feb.2017 ~ Dec.2019</p>
          
          <!--
          <h6><p class="thing">♜ Computer Dreamer Commendation<kbd class="commendation_badge" style="float:right;">Commendation</kbd></p></h6>
          <p>🎖 Superintendent of Education Award</p>
          <p>🏢  Seoul Metropolitan Office 📆  Dec. 2010</p>
          -->
          
          <h6><p class="thing">♜ 12th Information Research Competition<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🥈 2nd Place (Silver Prize) - Education Office Competition</p>
          <p>🥉 3rd Place (Bronze Prize) - Seoul Competition</p>
          <p>🏢  Seoul Education Research and Information Institute (SERII) 📆  Sep. 2010 ~ Oct. 2010</p>

          <h6><p class="thing">♜ 12th International Robot Olympiad (Transporter)<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🥇 2rd Place (Gold Prize) - Seoul Competition</p>
          <p>🏆 1st Place (Grand Prize) - National Competition</p>
          <p>🥉 4th Place (Special Prize) - International Competition (in 🇦🇺 Australia)</p>
          <p>🏢  International Robot Olympiad Committe (IROC) 📆  Jul. 2010 ~ Dec. 2010</p>

          <!--
          <h6><p class="thing">♜ Scout Commendation for Good Deed<kbd class="commendation_badge" style="float:right;">Commendation</kbd></p></h6>
          <p>🎖 Scout President Award</p>
          <p>🏢  Korea Scout Association 📆  May. 2010</p>

          <h6><p class="thing">♜ Science Day Commendation<kbd class="commendation_badge" style="float:right;">Commendation</kbd></p></h6>
          <p>🎖 Minister Award</p>
          <p>🏢  Ministry of Education, Science and Technology(MEST) 📆  Apr. 2010</p>
          -->

          <h6><p class="thing">♜ 28th Youth Science Exploration Competition, Robot Science (Line Tracer)<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🥇 2nd Place (Gold Prize) - Education Office Competition</p>
          <p>🥉 4th Place (Bronze Prize) - Seoul Competition</p>
          <p>🏢  Korea Foundation for the Advancement of Science and Creativity (KOFAC) 📆  Apr. 2009 ~ May. 2009</p>

          <h6><p class="thing">♜ 11th International Robot Olympiad (Transporter)<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🎉 6th Place - Seoul Competition</p>
          <p>🥈 3rd Place (Silver Prize) - National Competition</p>
          <p>🏢  International Robot Olympiad Committe (IROC) 📆  Jul. 2009 ~ Dec. 2009</p>

          <h6><p class="thing">♜ Youth Robot National Competition (Gift Delivery)<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🥈 3rd Place (Silver Prize) - Seoul Competition</p>
          <p>🎉 5th Place - National Competition</p>
          <p>🏢  Intelligent Robot Education Research Society 📆  Aug. 2009 ~ Sep. 2009</p>

          <h6><p class="thing">♜ 27th Youth Science Exploration Competition, Robot Science (Line Tracer)<kbd class="competition_badge" style="float:right;">Competition</kbd></p></h6>
          <p>🥈 3rd Place (Silver Prize) - Education Office Competition</p>
          <p>🏢  Korea Foundation for the Advancement of Science and Creativity (KOFAC) 📆  Apr. 2009 ~ May. 2009</p>
        </div>
      </div>
    </div>

<!-- Language Skills -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="fas fa-language"></i> Language Skills</h6>
      </div>
      <div class="detail col-lg-10">
        {% for language in site.data.settings.language_skills %}
            <div>
              <h6><p class="thing">{{ language.language }}</p></h6>
              <p> {{language.skill}}</p>
            </div>
        {% endfor %}
      </div>
    </div>

<!-- Interest -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="fas fa-chess-rook"></i> Interest</h6>
      </div>
      <div class="detail col-lg-10">
          <div>
            <h6><p class="thing">What I do when I rest</p></h6>
            <p>🏖 Traveling</p>
            <p>📱 Watching Various Media</p>
            <p>💪🏻 Working Out</p>
          </div>
      </div>
    </div>

<!-- Curriculum Vitae -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6><i class="fas fa-eye"></i> Curriculum Vitae</h6>
      </div>
      <div class="detail col-lg-10">
        <h6><p class="thing">Download my CV</p></h6>
        <a href="#" target="_blank">cv_jaeyoon_sim.pdf</a>
      </div>
    </div>

  </div>
</div>
