---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">About me </h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>EDUCATION</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>ACADEMIC EXPERIENCE</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>ACTIVITIES</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.activities %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>INTERESTS</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.interests %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    Please download! <a href="cv_jaeyoon_sim.pdf" target="_blank">cv_jaeyoon_sim.pdf</a>
  </div>
</div>
