---
layout: default
---

{{ content }}

<!-- About Me -->
<div class="row g-5 mb-5" >
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">About me</h3>

<!-- Education -->
    <div class="row g-5 mb-5">
      <div class="col-md-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h4>Education</h4>
      </div>
      <div class="col-md-10" style="font-size:0.8em;">
          {% for section in site.data.cv.education %}
            <div>
              <h6><p class="fw-bold" style="background-color:#010101">{{ section.title }}</p></h6>
              <p>{{ section.degree }}</p>
              <p>{{ section.location }}</p>
              <p>{{ section.period }}</p>
            </div>
          {% endfor %}
      </div>
    </div>

<!-- Work Experience -->
    <div class="row g-5 mb-5">
      <div class="col-md-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h4>Work Experience</h4>
      </div>
      <div class="col-md-10" style="font-size:0.8em;">
          {% for section in site.data.cv.work-experience %}
            <div>
              <h6><p class="fw-bold">{{ section.title }}</p></h6>
              <p>{{ section.advisor }}</p>
              <p>{{ section.description }}</p>
              <p>{{ section.location }}</p>
              <p>{{ section.period }}</p>
            </div>
          {% endfor %}
      </div>
    </div>

<!-- Activity -->
    <div class="row g-5 mb-5">
      <div class="col-md-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h4>Activity</h4>
      </div>
      <div class="col-md-10" style="font-size:0.8em;">
        {% for section in site.data.cv.activities %}
          <div>
            <h6><p class="fw-bold">{{ section.title }}</p></h6>
            <p>{{ section.description }}</p>
            <p>{{ section.location }}</p>
            <p>{{ section.period }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

<!-- Interest -->
    <div class="row g-5 mb-5">
      <div class="col-md-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;">
        <h4>Interest</h4>
      </div>
      <div class="col-md-10" style="font-size:0.8em;">
        {% for section in site.data.cv.interests %}
          <div>
            <h6><p class="fw-bold">{{ section.title }}</p></h6>
            <p>{{ section.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

<!-- Curriculum Vitae -->
    <div class="row g-5 mb-5">
      <div class="col-md-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background-color:#000000;" >
        <h4>Curriculum Vitae</h4>
      </div>
      <div class="col-md-10" style="font-size:0.8em;">
        (Download my cv) <a href="cv_jaeyoon_sim.pdf" target="_blank">cv_jaeyoon_sim.pdf</a>
      </div>
  </div>
</div>
