---
layout: default
---

{{ content }}

<!-- Experiences -->
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Experiences</h3>

<!-- Activity -->
<div class="row g-5 mb-5">
  <div class="col-lg-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background:linear-gradient(to right, black, silver);">
    <h5><i class="fas fa-snowboarding"></i> Activity</h5>
  </div>
  <div class="col-lg-10" style="line-height:1em; font-size:0.8em;">
    {% for section in site.data.cv.activities.activity %}
      <h6><p class="thing fw-bold">{{ section.title }}</p></h6>
      <p>{{ section.description }}</p>
      <p>{{ section.location }} {{ section.period }}</p>
      {% if section.flag == 'u' %}
      <a href= {{ section.url }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
      {% endif %}
      {% if section.flag == 't' %}
      <a href= {{ section.testimonial }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial<a>
      {% endif %}
      {% if section.flag == 'p' %}
      <a href= {{ section.picture }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture</a>
      {% endif %}
      {% if section.flag == 'ut' %}
      <a href= {{ section.url }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
      <a href= {{ section.testimonial }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial<a>
      {% endif %}
      {% if section.flag == 'up' %}
      <a href= {{ section.url }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
      <a href= {{ section.picture }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture<a>
      {% endif %}
      {% if section.flag == 'utp' %}
      <a href= {{ section.url }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
      <a href= {{ section.testimonial }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial<a>
      <a href= {{ section.picture }} style="margin-bottom:12px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture<a>
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Academic Project-->
    <div class="row g-5 mb-5">
      <div class="col-lg-2" style="text-align:center; border-radius:10px; color:#FFFFFF; background:linear-gradient(to right, black, silver);">
        <h5><i class="fas fa-laptop"></i> Academic Project</h5>
      </div>
      <div class="col-lg-10" style="line-height:1em; font-size:0.8em;">
        {% for section in site.data.cv.academic-experience.experience %}
          <h6><p class="thing fw-bold">{{ section.title }}</p></h6>
            <p>{{ section.description }}</p>
            <p>{{ section.location }} {{ section.period }}</p>
            {% if section.poster != None %}
            <a href= {{ section.poster }} style="margin-bottom:10px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">poster</a>
            {% endif %}
            {% if section.des != None %}
            <a href= {{ section.des }} style="margin-bottom:10px;" target="_blank" class="btn btn-outline-secondary btn-sm" role="button">description</a>
            {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>
