---
layout: default
---

{{ content }}

<!-- Experiences -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/main.js" defer></script>
<div class="row g-5 mb-5">
  <div>
    <h3 class="main_title pb-3 mb-5">Experiences</h3>

<!-- Activity -->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6>Activity</h6>
      </div>
      <div class="detail col-lg-10">
        {% for section in site.data.cv.activities.activity %}
          <div class="activity_content_title">
            <h6><p class="thing">{{ section.title }}</p></h6> 
          </div>
          <div class="activity_content_description">
            <p>{{ section.description }}</p>
            <p>{{ section.location }} {{ section.period }}</p>
            {% if section.flag == 'u' %}
            <a href= {{ section.url }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
            {% endif %}
            {% if section.flag == 't' %}
            <a href= {{ section.testimonial }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial</a>
            {% endif %}
            {% if section.flag == 'p' %}
            <a href= {{ section.picture }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture</a>
            {% endif %}
            {% if section.flag == 'ut' %}
            <a href= {{ section.url }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
            <a href= {{ section.testimonial }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial</a>
            {% endif %}
            {% if section.flag == 'up' %}
            <a href= {{ section.url }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
            <a href= {{ section.picture }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture</a>
            {% endif %}
            {% if section.flag == 'utp' %}
            <a href= {{ section.url }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">link</a>
            <a href= {{ section.testimonial }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">testimonial</a>
            <a href= {{ section.picture }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">picture</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    
    
<!-- Academic Project-->
    <div class="row g-5 mb-5">
      <div class="categorybar col-lg-2">
        <h6>Academic Project</h6>
      </div>
      <div class="detail col-lg-10">
        {% for section in site.data.cv.academic-experience.experience %}
          <div class="project_content_title">
            <h6><p class="thing">{{ section.title }}</p></h6>
          </div>
          <div class="project_content_description">
            <p>{{ section.description }}</p>
            <p>{{ section.location }} {{ section.period }}</p>
            {% if section.poster != None %}
            <a href= {{ section.poster }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">poster</a>
            {% endif %}
            {% if section.des != None %}
            <a href= {{ section.des }} target="_blank" class="btn btn-outline-secondary btn-sm" role="button">description</a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>

  </ddiv>
</div>
