---
layout: default
---

<!-- Home -->
<script src="/main.js" defer></script>
<div class="row g-5 mb-3">
  <div class="col-md-4">
    <img id="home_image" 
    src="{{ site.github.url }}/assets/img/home1.jpg" 
    onmouseover="this.src='{{ site.github.url }}/assets/img/home2.jpg'" 
    onmouseout="this.src='{{ site.github.url }}/assets/img/home1.jpg'" 
    onmouseenter="zoomIn(event)" onmouseleave="zoomOut(event)" alt="Home" width="100%" hieght="100%">
  </div>

  <div class="col-md-8">
    <!-- <h3 class="home_title">Jaeyoon Sim</h3> -->
      <div style="text-align:justify">
        {{ content }}
      </div>
  </div>
</div>

<h3 style="text-align: left">Recent News</h3>

<!-- Update Information -->
<div class="row g-5 mb-3">
  <div class="timeline col-md-12">
    <ul>
      {% for post in site.posts %}
      <li>
        <div class="timeline_content">
          <h5><a href="{{ site.github.url }}/{{ post.url }}" style="text-decoration:none">{{ post.title }}</a></h5>
        </div>
        <div class="timeline_time"><h4>{{ post.date | date: "%b %d, %Y" }}</h4><div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>