---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-4">
    <img style="border:10px solid black; border-radius:50px" src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%" hiehgt="100%">
  </div>
  <div class="col-md-8">
    <h3 class="fw-bold">Jaeyoon Sim</h3>
      <div style="text-align:justify">
        {{ content }}
      </div>
  </div>
</div>

<!-- {% include publications.html %} -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>